.custom-btn {
  background-color: black;
  color: #eee;
  padding: 1rem 3rem;
  border-radius: 3px;
  transition: all 0.3s ease;

  &:hover {
    color: black;
    background-color: #fff;
    cursor: pointer;
  }

  &.google-btn {
    padding: 1rem 2rem;
    background-color: #4285f4;

    &:hover {
      background-color: #357ae8;
      border: none;
      color: #eee;
    }
  }

  &.inverted {
    color: black;
    background-color: #fff;

    &:hover {
      cursor: pointer;
      background-color: black;
      color: #eee;
    }
  }
}
