.login-container {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  & .login-title {
    font-size: 1.4rem;
    font-weight: 600;
  }

  & .login-subtitle {
    font-size: 0.9rem;
    font-weight: 100;
    color: grey;
  }

  & form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & .input-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      align-items: flex-start;
      margin-bottom: 1rem;
    }

    & .btns-container {
      margin-top: 2rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
