.login-container {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  & .login-title {
    font-size: 1.4rem;
    font-weight: 600;
  }

  & .login-subtitle {
    font-size: 0.9rem;
    font-weight: 100;
    color: grey;
  }

  & form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;

    & .btns-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
