.cart-item-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 80px;

  img {
    width: 30%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.2rem;
  }

  .cart-item-details {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
  }
}
